LibraryClient/LibraryClient/Connected Services/LibraryServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibraryAppService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibraryAppService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pages" type="xs:int" />
      <xs:element minOccurs="0" name="Publication" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Series" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfLibraries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libraries" nillable="true" type="tns:Libraries" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibraries" nillable="true" type="tns:ArrayOfLibraries" />
  <xs:complexType name="Libraries">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LibraryId" type="xs:int" />
      <xs:element minOccurs="0" name="LibraryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libraries" nillable="true" type="tns:Libraries" />
  <xs:complexType name="ArrayOfRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" nillable="true" type="tns:Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequest" nillable="true" type="tns:ArrayOfRequest" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateLocated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRequested" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="PBook" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="RequestId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="ArrayOfPersonalData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonalData" nillable="true" type="tns:PersonalData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonalData" nillable="true" type="tns:ArrayOfPersonalData" />
  <xs:complexType name="PersonalData">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="NumberBuilding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalData" nillable="true" type="tns:PersonalData" />
</xs:schema>