LibraryClient/Connected Services/LibraryServiceReference/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryAppService" />
  <xs:element name="GetListOfBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibraryAppService" minOccurs="0" name="GetListOfBooksResult" nillable="true" type="q1:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BooksInLibraries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BooksInLibrariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibraryAppService" minOccurs="0" name="BooksInLibrariesResult" nillable="true" type="q2:ArrayOfLibraries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LibraryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibraryAppService" minOccurs="0" name="ShowRequestsResult" nillable="true" type="q3:ArrayOfRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LibraryAppService" minOccurs="0" name="GetPersonalDataResult" nillable="true" type="q4:ArrayOfPersonalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>